

</body>

<footer>
  To-Do-List by 
  <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach" 
                                 target="_blank" rel="noopener noreferrer">AndЯas</a>
</footer>

</html>
